<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aura.popescu.tcb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:configChanges="locale|orientation"
        android:icon="@drawable/logotcb"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".About" />
        <activity android:name=".Projects" />
        <activity android:name=".BeVolunteer" />
        <activity android:name=".Donate" />
        <activity android:name=".ChatWithUs" />
        <activity android:name=".Contact" />
        <activity android:name=".Register" />
        <activity android:name=".Chat" />
        <activity android:name=".Users" />
        <activity android:name=".RatingActivity" />
        <activity android:name=".ShareActivity"></activity>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
    </application>

</manifest>